node_modules/
apps/*/node_modules/
packages/*/node_modules/

dist/
build/
apps/*/dist/
packages/*/dist/

logs/
*.log
apps/*/logs/
packages/*/logs/

.env
.env.*
!.env.example

postgres_auth_data/
postgres_users_data/
.docker-data/

.vscode/
.idea/
.DS_Store
thumbs.db

coverage/
.vitest/
